@using GospelWorld.Models;
@model GospelWorld.Models.SermonCategoryViewModel

@{
    ViewBag.Title = "AddDept";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>New Category</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.LabelFor(model => model.SermonType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="SermonType" class="form-control" placeholder="E.g Digging Deep, Holy Ghost Service, Youth Weekend, etc" />
                    @*@Html.EditorFor(model => model.SermonType, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.SermonType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SermonDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SermonDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SermonDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/site")

    @if (Model.Done)
    {
        <script>
        navigate("/Admin/SermonCategoryList");

        function navigate(href) {


            $.ajax({
                url: href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#renderbody').html(result);
                }
            });

        }
        </script>
    }