@using PagedList;
@using PagedList.Mvc;

@model GospelWorld.Models.SermonListViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Index";
    var c = ViewBag.Page ?? 1;
    var j = c - 1;
    var p = ViewBag.PageSize ?? Model.Sermons.Count;
    var m = j * p;
    var sn = m + 1;
}

<h2>Sermons</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        Áll Sermons  @Html.ActionLink("Add Sermon", "AddSermon", null, new { @class = "btn btn-success btn-sm pull-right linker" })
    </div>
    <div class="panel-body">
        <table class="table table-striped rbody" id="sermonlist">
            <tr>
                <th>S/N</th>
                <th>Preacher Image</th>
                <th>Date</th>
                <th>Preacher Name</th>
                <th>Title</th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var sermon in Model.Sermons)
            {
                <tr>
                    <td>@sn</td>
                    <td>
                        <img src="@Url.Content("~/Content/Images/")@sermon.ImageThumbnailUrl" class="img-thumbnail-small img-circle" style="width:65px; height:65px;" alt="preacher/@sermon.PreacherName" />
                    </td>
                    <td>@sermon.SermonDate</td>
                    <td style="width: 200px;">@sermon.PreacherName</td>
                    <td style="width: 200px;">@sermon.SermonTitle</td>


                    <td><a href="/Admin/EditSermon/@sermon.SermId" class="linker">Edit</a></td>
                    <td>
                        @using (Html.BeginForm("DeleteSermon", "Admin"))
                        {
                            @Html.Hidden("Id", sermon.SermId)

                            <input type="submit" class="btn btn-danger btn-xs " value="Delete" />
                        }

                    </td>
                </tr>
                sn++;
            }
        </table>


    </div>
    <div class="panel-footer">
        <div id="contentPager">
            @Html.PagedListPager(Model.Sermons, page => Url.Action("SermonList", new { page }), new PagedListRenderOptions { LiElementClasses = new List<string> { "pagerli" }, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
        </div>

    </div>

</div>
@*<script>
        var datatable;
        $(document).ready(function () {
            datatable=$('#sermonlist').Dat
        });
    </script>*@
