@using PagedList;
@using PagedList.Mvc;

@model GospelWorld.Models.WorkerListViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Index";
    var c = ViewBag.Page ?? 1;
    var j = c - 1;
    var p = ViewBag.PageSize ?? Model.Workers.Count();
    var m = j * p;
    var sn = m + 1;

}

<h2>Workers</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        Áll Workers  @*@Html.ActionLink("Add Worker", "JoinWorker", null, new { @class = "btn btn-success btn-sm pull-right linker" })*@
    </div>
    <div class="panel-body">
        <table class="table table-striped rbody" id="deplist">
            <tr>
                <th>S/N</th>
                <th>Worker Image</th>
                <th>Worker Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Department</th>
                <th></th>
                <th></th>
            </tr>


            @foreach (var worker in Model.Workers)
            {

                <tr>
                    <td>@sn</td>
                    <td>
                        <img src="@Url.Content("~/Content/Images/")@worker.ImageThumbnailUrl" class="img-thumbnail-small img-circle" style="width:65px; height:65px;" alt="/@worker.WorkerName" />
                    </td>
                    <td>@worker.WorkerName</td>
                    <td style="width: 200px;">@worker.PhoneNumber</td>
                    <td style="width: 200px;">@worker.Address</td>

                    <td>@worker.Department.DeptName</td>

                    <td><a href="/Admin/EditWorker/@worker.WorkId" class="linker">Edit</a></td>
                    <td>
                        @using (Html.BeginForm("DeleteWorker", "Admin"))
                        {
                            @Html.Hidden("Id", worker.WorkId)

                            <input type="submit" class="btn btn-danger btn-xs " value="Delete" />
                        }

                    </td>
                </tr>
                sn++;
            }
        </table>


    </div>
    <div class="panel-footer">
        <div id="contentPager">
            @Html.PagedListPager(Model.Workers, page => Url.Action("WorkerList", new { page }), new PagedListRenderOptions { LiElementClasses = new List<string> { "pagerli" }, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
        </div>

    </div>

</div>
@*<script>
        var datatable;
        $(document).ready(function () {
            datatable=$('#sermonlist').Dat
        });
    </script>*@
